@model Reservas.Models.ComplejoModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Nombre)</th>
        <th>@Html.DisplayNameFor(model => model.Ciudad)</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Complejos) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
            <td>@Html.DisplayFor(modelItem => item.Ciudad)</td>
            @*<td>@Html.DisplayFor(modelItem => item.Description)</td>*@
            <td>
                @Html.ActionLink("Edit", "Edit","Home", new { id=item.ComplejoId }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
